.container {
    padding-top: 60px;
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.docs-example-viewer-wrapper {
    border: 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 24%), 0 0 2px rgb(0 0 0 / 12%);
    margin: 1em auto;
    border-radius: 4px;
}
 h2 {
    margin-bottom: 0;
    font-size: 2rem;
    
}
.mat-elevation-z2 {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
body {
   font-size: 16px; 
    font-family: Roboto,Helvetica Neue,sans-serif;
    line-height: 1.5;
    -webkit-font-kerning: normal;
    font-kerning: normal;
}
.docs-example-viewer-title {
    background: #ff4081;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: #fff;
}
*, :after, :before {
    box-sizing: border-box;
}
.docs-example-viewer-title-spacer {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background: #fff;
    color: rgba(0,0,0,.87);
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.td, th {
    width: 18%;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-container {
    display: flex;
    text-align: center;
    width: 18%;
}
.div-quantity {
    margin: auto;
    text-align: center;
}

.mat-button-toggle, .mat-card {
    font-family: Roboto,Helvetica Neue,sans-serif;
}*, :after, :before {
    box-sizing: border-box;
}
.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 0;
}
.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    display: block;
    margin-bottom: 16px;
}
.mat-card-content, .mat-card-subtitle {
    font-size: 14px;
}
img {
    width: 40%;
    overflow: hidden;
    position: relative;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
td, th {
    width: 18%;
}
.mat-raised-button.mat-warn {
    background-color: #f44336;
    color: #fff;
}
mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}