<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-button color="basic" routerLink="BookCart">
        <mat-icon>bookmark</mat-icon>BookCart
    </button>
    <div class="spacer"></div>
    
    <mat-icon matbadgecolor="warn"
        class="mat-icon notranslate mat-badge mat-badge-warn material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
        data-mat-icon-type="font" routerLink="favorite">favorite<span
            class="mat-badge-content mat-badge-active">2</span>
    </mat-icon>

    <mat-icon role="img" matbadgecolor="warn"
        class="mat-icon notranslate mat-badge mat-badge-warn material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium"
        aria-hidden="true" data-mat-icon-type="font" routerLink="shopping_cart">shopping_cart<span
            id="mat-badge-content-0" class="mat-badge-content mat-badge-active">2</span>
    </mat-icon>

</mat-toolbar>